html,
body {
  height: 100%;
}

body {
  font-family: "Larsseit";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #22356f;
  overflow-x: hidden;
  min-width: 300px;
}
.container {
  position: relative;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.main {
  // flex: 1 0 auto;
}
.footer {
  // flex: 0 0 auto;
}
